numpy==1.23.1
pandas==1.4.3
Pillow==9.2.0
plotly==5.10.0
requests==2.28.1
scipy==1.9.0
streamlit==1.11.1
toolbox==1.9.0
openpyxl==3.0.10
defusedxml==0.7.1
et-xmlfile==1.1.0
lxml==4.9.1
altair==4.0
